<!--
<form class="login-form">
    <h1>Вход</h1>
    <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width">
        <input matInput placeholder="Email">
      </mat-form-field></td>
      <td><mat-form-field class="full-width">
        <input type="password" matInput placeholder="password">
      </mat-form-field></td>
    </tr></table>
  
  </form>
-->
  <form 
    class="login-form"
    [formGroup]='form'
    (ngSubmit)='onSubmit()'>
  <div class="card-content">
      <span class="card-title">Войти в систему</span>

      <div class="form-group">
          <input
           formControlName='email'
           id="email" 
           class="form-control"
           type="email"
           [ngClass]="{'invalid':form.get('email').touched && form.get('email').invalid }">
          <label for="email">Email:</label>
          <span class="helper-text red-text" *ngIf='form.get("email").touched && form.get("email").invalid'>
              <span *ngIf='form.get("email").errors["required"]'> Email не должен быть пустым </span>
              <span *ngIf='form.get("email").errors["email"]'> Email не корректный </span>
          </span>
      </div>
      <div class="form-group">
          <input
           formControlName='password'
           id="password"
           class="form-control"
           type="password"
           [ngClass]="{'invalid':form.get('password').touched && form.get('password').invalid }">
          <label for="password">Пароль:</label>

          <span class="helper-text red-text" *ngIf='form.get("password").invalid && form.get("password").touched'>
                <span *ngIf='form.get("password").errors["required"]'> Email не должен быть пустым </span>
                <span *ngIf='form.get("password").errors["minlength"] && form.get("password").errors["minlength"]["requiredLength"]'>
                    Пароль должен быть больше {{form.get('password').errors['minlength']['requiredLength']}} символов.
                    Сейчас {{form.get('password').errors['minlength']['actualLength']}}
                </span>
          </span>
      </div>
  </div>
  <div class="card-action">
      <button
       type='submit'
       class="btn btn-primary"
       [disabled]='form.invalid || form.disabled'
       >Войти</button>
  </div>
</form>
